td {
    text-align: center;
    border: solid black 1px;
    border-right: solid black 2px;
}

th {
    border: solid black 2px;
}

.red {
    background: red;
}

.employeesOut {
    text-align: center;
}

#employeesList {
    border: solid black 3px;
}

table {
    border-collapse: collapse;
}

.removeEmployeeBtn {

}

tr:nth-child(odd) {background: #FFF}